body{
    background-color: rgba(241, 240, 139, 0.959);
}
table{
    margin: 100px auto ;
}

table tr td{
    padding: 10px;
}

input{
    border-style: none;
    height: 25px;
    width: 100%;
    color: brown;
    padding-left: 10px;
}
input:hover{
    background-color: lemonchiffon;
    color: cadetblue;
}
button{
    border-style: none;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    color: lemonchiffon;
    background-color: cadetblue;
    
}
button:hover{
    background-color: darkgoldenrod;
}